<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReferralLaboratories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89E884CF1DE79CC0001F3F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E884E51DE79CC0001F3F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E884F01DE79CC0001F3F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
